@media (max-width:1280px) {

    /* navigation */
    .navbar {
        flex-direction: column;
    }
    #home{
        min-height: 100vh;
    }
    .btn {
        background-color: rgb(255, 98, 0);
    }

    .content {
        text-align: center;
    }

    .sec5b {
        flex-direction: column;
        align-items: center;
    }

    .sec5 img {
        height: 320px;
    }
     /* sec6 */
}




@media (max-width:705px) {


    .sec3 img {
        height: 230px;
    }
    /* footer */
    .arrow{
        margin: -50px;
    }
}

@media (max-width:635px) {

    /* sec2 */
    .item {
        line-height: 43px;
    }
}


/* hanburger */
@media (max-width:900px) {
    .rmenu{
        display: block;
        color: aqua;
    }
    .navbar {
        flex-direction: row;
    }
    .mid {
        flex-direction: column;
        background-color: #c9a4ee;
        position: absolute;
        right: 0px;
        top: 86px;
        z-index: 2;
        /* display: none; */
    }
    .burger{
        display: none;
    }
    .mid #dl:hover .det{
        display: none;
}
.mid #dp2:hover .co{
    display: none;
}

    .right{
        right: 158px;
    }
    .box{
        margin: 12px;
    }
    #dl {
        padding-bottom: 0px;
        margin-top: 12px;
    }

    /* typing animation */
    .sec1 {
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .sec1 .text {
        display: inline;
        position: static;
        text-align: center;
        font-size: 30px;
    }
    .con {
        position: static;
    }
    .con span {
        font-size: 30px;
        line-height: 47px;
    }
    .con .btn2 {
        /* width: 73px; */
        font-size: 16px;
    }
    /* sec5 */
    .sec5 .sec5a{
        padding: 0px;
        font-size: 2rem;
    }
    .sec5 h2 {
        padding: 23px;
    }
}
@media (max-width:690px) {

    /* sec5 */
    .sec5 img {
        width: 420px;
    }

    .sec5 .sec5a {
        font-size: 20px;
    }
    /* sec1 */
    .sec1 .text {
        font-size: 25px;
    }
    .con span {
        font-size: 25px;
        line-height: 40px;
    }
    
}
/* sec2-details */
@media (max-width:570px) {
    .item img{
        width: 300px;
    }
    .in {
        text-align: center;
        font-size: 15px;
    }
    .in span {
        font-size: 16px;
    }
    .content {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
  
    /* sec5 */
    .sec5 .sec5a {
      
        font-size: 15px;
    }
    .sec5 img {
        width: 347px;
        height: 227px;
    }
    /* sec1 */
    .logo img {
        width: 75px;
    }
    
}

/* navbar */
@media (max-width:470px) {
    .rmenu {
        top: 57px;
    }
    .right{
        right: 10px;
        top: 12px;
    }
    .btn{
        font-size: 12px;
    }
}
@media (max-width:415px) {
 
    .item img {
        width: 251px;
    }
    .in {
        text-align: center;
        font-size: 11px;
    }
    .content .item {
        line-height: 34px;
    }
    .sec3 img {
        margin-bottom: 0%;
    }
    /* sec5 */
    .sec5 .sec5a {
       font-size: 20px;
    }
    .sec5 img {
        width: 289px;
        height: 227px;
    }
   
    /* sec6 */
    .sec6a form {
        width: 57%;
    }
    .arrow a {
        font-size: 20px;
        padding: 12px;
        left: 95%;
    }
}
@media (max-width:340px) {
.sec3 img {
    height: 214px;
    width: 268px;
    margin-bottom: 0%;
}
}
